<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8585/YoyakuService/mex" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexServiceBehavior" name="YumeRoomBookService.Impletemt.YoyakuService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                    contract="YumeRoomBookService.Contract.IYoyakuService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8585/YoyakuService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>